<nav class="sidemenu">
  <ul>
    <li routerLink="/home">
      <img [src]="logoUrl" alt="Logo" width="40px" />
      <span class="logo"> Chita Records</span>
    </li>
    <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>
    <li routerLink="/crud"><mat-icon>add</mat-icon>Ver albums</li>
    <a
      href="https://open.spotify.com/user/216my7m6id2tc25s4rmlch6mq?si=9655d4c95bc64ff5"
      target="_blank"
      ><li><mat-icon>play_circle_outline</mat-icon>Spotify</li></a
    >
  </ul>
</nav>
